
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright-html-report/
/playwright-html-report-docker/
/allure-results/
/allure-report/
